# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.env/

# Logs and checkpoints
*.log
*.ckpt
*.pth
*.pt

# Data dumps
*.csv
*.h5
*.npz

# OS files
.DS_Store
Thumbs.db

/data/
/confusion_matrices/
/saved_models/
/cifar10/
/runs/
checkpoints*/ 
